/* logo  */
.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: var(--logo-font-family);
  line-height: 1.19;
}

.logo-span {
  .header-logo &,
  .footer-logo & {
    color: var(--accent-color);
  }
}

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--title-text-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-bg-color);
}
